<div class="top">
  <%= image_tag('https://s3.amazonaws.com/american-rivers-website/wp-content/uploads/2016/02/24215058/East-Rosebud-Creek-MT-credit-Michael-Fiebig-header.jpg', class: 'back-img') %>

  <div class="profile-img">
    <%= image_tag('https://dl.dropboxusercontent.com/s/f8kkf7sqlh18n1t/20941128.png?dl=0', class: '') %>
  </div>
</div>

<div class="about-me">
  <div class="container">
    <h3>Kevin Finley</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis odio sit amet velit ultricies, et ultrices diam hendrerit. Nullam luctus tempus orci, in luctus tortor iaculis sit amet. Vestibulum a vehicula leo. Cras nec turpis augue. Ut lobortis eget nunc vitae vestibulum. Praesent commodo nunc eget metus laoreet tincidunt. Vestibulum pharetra, libero vel pretium dignissim, dolor diam cursus mauris, vulputate bibendum eros erat vitae elit. Praesent ligula tortor, interdum id quam vitae, imperdiet vehicula ante. Morbi purus dolor, imperdiet nec facilisis vitae, feugiat sit amet sapien. Sed a quam ut velit dapibus sagittis ut eu ligula. Phasellus nec diam hendrerit, cursus lectus nec, interdum urna. Aenean sapien justo, vestibulum ornare euismod sed, sodales sit amet tortor. Vivamus et elit pulvinar, placerat velit vel, sollicitudin ipsum. Vestibulum pretium ac sapien in placerat.</p>
  </div>
</div>

<ul class="pad">
  <% @repos.each do |repo| %>
  <li><%=link_to repo['name'], repo['html_url'] %> <%= repo['language'] %></li>
  <% end %>
</ul>
