/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.left {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("http://kingofwallpapers.com/coding-wallpaper/coding-wallpaper-009.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right {
  width: 50%;
  text-align: center;
}
