<ul id="slide-out" class="side-nav">
  <li><%= link_to "Home", root_path, class: 'waves-effect' %></li>
  <li><%= link_to 'Projects', projects_path, class: 'waves-effect' %></li>
  <li><%= link_to 'Work History', works_path, class: 'waves-effect' %></li>
</ul>
